*{
    padding: 0%;
    margin: 0%;
}
html, body #fullheight {

    min-height: 100% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    height: 100%;
    background-color: black;
}
.resultado{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    height: 39%;
}
.resultado span{
    margin-right: 60px;
    font-size: 180px;
    justify-self: flex-end;
}
.botones{
    width: 100%;
    height: 60%;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}
.persent{
    background-color: #a5a5a5;
    border: none;
    color: black;
}
.item1{
    background-color: #a5a5a5;
    border: none;
}
.item3{
    background-color: #ff9f0a;
}
.numbers, .comma{
    background-color: #a5a5a5;
    border: none;
}
.negative{
    color: black;
}
.itemcero{
    background-color: #343434;
    width: 435px;
    border-radius: 135px;
    grid-column: span 2;
    border: none;
}